@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Syncopate:700,400);
* {
  box-sizing: border-box; }

body, html {
  min-height: 100%; }

body, button, input {
  font-family: Raleway;
  font-size: 16px;
  letter-spacing: 0.5px;
  font-weight: 300;
  color: white; }

html {
  position: relative; }

body {
  background: url("/public/img/bg.jpg") top left/cover no-repeat;
  margin: 0; }

main {
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px;
  min-height: 100%;
  text-align: center;
  padding-bottom: 100px; }

h1 {
  color: white;
  font-size: 20px;
  height: 40px;
  font-weight: 200;
  letter-spacing: 1px; }

li {
  color: white;
  list-style: none; }

.button {
  display: inline-block;
  color: white;
  border: none;
  padding: 10px;
  transition: all .3s ease;
  cursor: pointer;
  font-size: 13px;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.4); }
  .button:hover {
    background-color: rgba(0, 0, 0, 0.6); }

form .button {
  margin-top: 20px; }

a {
  text-decoration: none;
  color: inherit; }

.link {
  display: inline-block; }

.logo {
  width: 130px;
  position: relative;
  margin-bottom: 30px;
  font-family: Syncopate;
  letter-spacing: -0.5px;
  min-width: 200px;
  float: left;
  vertical-align: middle; }
  .logo span {
    font-weight: 700;
    color: white;
    font-size: 40px;
    margin-left: 5px;
    vertical-align: bottom;
    display: inline-block;
    opacity: 0.6;
    transition: opacity 0.3s ease; }
  .logo path {
    fill-opacity: .5;
    transition: fill-opacity 0.3s ease; }
  .logo:hover span {
    opacity: .8; }
  .logo:hover path {
    fill-opacity: .8; }

.logo_img {
  width: 50px; }

small {
  display: inline-block;
  color: white;
  position: absolute;
  top: 70px;
  left: 20px; }

.text {
  margin: 0;
  padding: 0;
  padding: 30px 0; }
  .text li {
    text-align: center; }

.buttons {
  text-align: right;
  margin: 30px 0;
  float: right; }

.buttonwrap {
  display: inline-block;
  width: 300px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  margin-top: -30px; }

header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  margin-bottom: 50px; }

.chart {
  position: relative;
  display: inline-block;
  width: calc(100% - 20px);
  text-align: center;
  vertical-align: middle;
  padding: 10px;
  padding-bottom: 50px;
  margin-left: 20px;
  margin-bottom: 20px;
  background: rgba(0, 0, 0, 0.4);
  transition: background-color 0.3s ease; }

a:hover .chart {
  background: rgba(0, 0, 0, 0.6); }

form {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  max-width: 300px;
  text-align: left;
  margin-right: 100px;
  margin-bottom: 50px; }

fieldset {
  border: none;
  padding: 0;
  margin: 0; }

.inputs {
  margin-bottom: 20px;
  position: relative; }

.input {
  position: relative;
  z-index: 1;
  display: inline-block;
  width: 300px;
  vertical-align: top; }
  .input_short {
    width: 250px;
    display: inline-block;
    vertical-align: middle; }
  .input_mini {
    width: 160px;
    margin-top: -10px;
    margin-left: -5px; }

.input_field {
  font-size: 16px;
  position: relative;
  float: right;
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
  padding: 0.5em;
  margin-bottom: 2em;
  color: white;
  padding-left: 5px; }
  .input_field:focus {
    outline: none; }
  .input_field:invalid {
    box-shadow: none; }

.input_label {
  display: inline-block;
  float: right;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
  position: absolute;
  text-align: left;
  font-size: 1em;
  padding: 10px 0 5px;
  pointer-events: none; }
  .input_label::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: white;
    left: 0;
    top: 100%;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition: -webkit-transform 0.3s, background-color 0.3s;
    transition: transform 0.3s, background-color 0.3s; }

.input_text {
  font-size: 16px;
  position: relative;
  display: block;
  padding: 1.6em 0;
  width: 100%;
  padding: 0;
  padding-left: 5px;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transition: -webkit-transform 0.3s, color 0.3s;
  transition: transform 0.3s, color 0.3s; }

.input_field:focus + .input_label::after,
.filled .input_label::after {
  background: white;
  -webkit-transform: scale3d(1, 0.25, 1);
  transform: scale3d(1, 0.5, 1); }

.input_field:focus + .input_label .input_text,
.filled .input_label .input_text {
  color: white;
  -webkit-transform: translate3d(0, 2em, 0) scale3d(0.655, 0.655, 1);
  transform: translate3d(0, 2em, 0) scale3d(0.8, 0.8, 1); }

.select_field {
  color: white;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid white;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 0;
  width: 250px;
  height: 40px;
  padding: 0.5em 0;
  margin-bottom: 2em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: linear-gradient(45deg, transparent 50%, white 50%), linear-gradient(135deg, white 50%, transparent 50%);
  background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat; }
  .select_field:invalid {
    box-shadow: none; }

.select_opt {
  color: white;
  background: url("/public/img/bg.jpg") center no-repeat;
  padding: 10px; }

option {
  border: none; }

.selected {
  color: white;
  border-bottom: 1px solid white; }

#plus {
  display: inline-block;
  color: white;
  vertical-align: middle;
  position: absolute;
  z-index: 5;
  bottom: 40px;
  right: 62px; }

.menu {
  clear: both;
  margin: 0;
  padding: 0;
  padding-right: 30px;
  text-align: right;
  position: relative; }
  .menu li {
    display: inline-block;
    list-style: none;
    padding: 10px; }
    .menu li.active {
      background-color: rgba(0, 0, 0, 0.4); }
      .menu li.active a {
        color: white; }
    .menu li a {
      color: white;
      text-decoration: none;
      transition: color .3s ease; }
      .menu li a:hover {
        color: white; }
  .menu #home {
    right: 223px; }
  .menu #newpoll {
    right: 125px; }
  .menu #mypolls {
    right: 30px; }

.login, .welcome {
  margin-bottom: 20px; }

.radio {
  margin: 0 0 0.75em 0; }

.radio_input {
  display: none; }

.radio_input + .radio_label {
  color: white; }

.radio_input + .radio_label .radio_span {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin: -1px 15px 0 0;
  vertical-align: middle;
  cursor: pointer;
  -moz-border-radius: 50%;
  border-radius: 50%; }

.radio_input + .radio_label .radio_span {
  background-color: white; }

.radio_input:checked + .radio_label .radio_span {
  background-color: rgba(0, 0, 0, 0.4); }

.radio_input + .radio_label .radio_span,
.radio_input:checked + .radio_label .radio_span {
  transition: background-color .3s ease; }

#graph {
  display: inline-block;
  margin-left: -20px; }

.right {
  display: inline-block; }

.single {
  margin: 0;
  width: 400px; }
  .single .chart {
    min-height: 350px;
    margin: 0; }

#legend {
  display: inline-block;
  margin-right: 40px;
  text-align: left;
  position: relative; }
  #legend ul {
    padding: 0;
    margin: 0;
    display: inline-block;
    vertical-align: middle; }
  #legend li {
    list-style-type: none;
    margin-bottom: 10px; }
  #legend span {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: top;
    margin-right: 10px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.4); }

.error {
  color: white;
  position: absolute;
  left: 25px;
  bottom: 70px;
  width: 250px;
  opacity: 0;
  transition: opacity .3s ease-in-out; }
  .error::before {
    content: "";
    display: inline-block;
    background: url("/public/img/arrow.png") center no-repeat;
    background-size: 20px;
    width: 20px;
    height: 20px;
    margin-right: 10px; }
  .error.show {
    opacity: 1; }

.delete {
  cursor: pointer; }

.chartWrapper {
  position: relative;
  display: inline-block;
  width: 100%; }

.multiple {
  text-align: left;
  width: 100%; }

.multiple .chartWrapper {
  width: 33.33%; }

.author {
  position: absolute;
  right: 20px;
  bottom: 30px; }
  .author:hover {
    text-decoration: underline; }

.social {
  position: absolute;
  left: 30px;
  bottom: 30px; }
  .social a {
    margin-right: 10px;
    opacity: .4;
    transition: opacity 0.3s ease; }
    .social a:hover {
      opacity: .8; }

#pic {
  max-width: 70px;
  max-height: 70px;
  float: left; }

footer {
  text-align: center;
  padding-bottom: 10px;
  position: absolute;
  bottom: 0;
  width: 100%; }

.github {
  color: rgba(0, 0, 0, 0.6);
  transition: color 0.3s ease; }
  .github:hover {
    color: white; }

@media (max-width: 1000px) {
  .multiple .chartWrapper {
    width: 50%; } }

@media (max-width: 650px) {
  main {
    padding: 10px; }
  .logo, .buttons {
    float: none; }
  .buttons {
    margin-top: 50px; }
  .text {
    padding-top: 0; }
    .text li {
      text-align: left; }
  .buttonwrap {
    margin-top: 0; }
  .single {
    max-width: 320px; }
    .single .chart {
      min-height: 280px; }
  .single {
    max-width: 320px; }
  form {
    width: 100%; } }

@media (max-width: 600px) {
  .multiple .chartWrapper {
    width: 100%; } }
